
<body>

<nav>
  <div>
    <img id="mainlogo" [src]="imgUrl" (click) = "onclicklogo()" />
    
  </div>

  <div>
    <button id="mycart" (click) = "onclickMyCart()">My Cart</button>

  </div>
  
</nav>
 


<!-- main container -->
<div> 


  <!-- item container -->

  <div *ngIf="displayProduct">

    <!-- list Item -->
    <div id="productArea" *ngFor="let list of lists" [style.background-color]="colorSelectedItem" >
      
      <img id="productIcon" [src] = "list.image">
      <div>Product Name: {{list.name}}</div>
      <div>Product Description: {{list.description}}</div>
      <div>Price: RM {{list.price}}.00</div>
      <button
      (click) = "onclickSelectItem()"

      >Select</button>

    </div>
      
  </div>

  <!-- My Cart container -->

  <div id="maincart" *ngIf = "displayMyCart">

    <!-- list Item -->
    <div id="cartArea" >
      <img id="productIcon" [src] = "list.image">
      <div>Product Name: {{list.name}}</div>
      <div>Product Description: {{list.description}}</div>
      <div>Price: RM {{list.price}}.00</div>
      <br>
      <br>
    </div>
      
  </div>
    
</div>

<footer>

  <div >
    <button id="addtoMyCart" 
    (click) = "onclickAddToMyCart()">Add to My Cart</button>
  </div>

  <button>Clear My Cart</button>

</footer>









<!-- <div class="container">
  <div *ngIf="selectedListIndex !== null; else numberOfList">
    <div *ngIf="lists[selectedListIndex].tasks.length == 0">
      <p>There are no available tasks in the list</p>
    </div>
    <ul>
      <li 
        *ngFor="let task of lists[selectedListIndex].tasks; let i = index" 
        [class.done] = "task.checked"
        [class.pending]="!task.checked"
        (click)="onClickTask(i)"
      >
        {{task.title}}
      </li>
    </ul>
  </div>
  <ng-template #numberOfList>
    <p> There are {{lists.length}} lists in total</p>
  </ng-template>
</div> -->



</body>